{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center" style="height: 100vh; justify-content: center; display: flex; align-items: center;">
        <div class="col-md-6 col-lg-4">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="text-center mb-4">Login</h2>
                    <form method="post" action="">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3" style="margin-bottom: 3rem;">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
                    </form>
                    <p>don't have account? <a href="{% url 'register' %}">register</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
